* {
    box-sizing: border-box;
    /* highlight every border red */
    /* border: 1px solid red; */
}

@font-face {
    font-family: "AcrossTheRoad";
    src: url(../font/AcrossTheRoad-Gn0P.ttf) format('woff2');
}


.container {
    font-family: "Montserrat", sans-serif;
    width: 1100px;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}


section {
    scroll-snap-align: start;
    position: relative;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 20px;
}

h2 {
    font-size: 3em;
}


h3  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
}

header {
    display: flex;
    justify-content: flex-end;
}


header a {
    font-family: "Montserrat";
    text-decoration: none;
}

.greeting-main {
    display: flex;
    padding-top: 5%;
}

.greeting-text {
    width: 50%;
    min-width: 50%;
}

.greeting-image img {
    width: 80%;
    margin-left: 120px;
}

.signature {
    padding: 25px;
    padding-left: 0px;
    width: 50%;
    font-size: 35px;
    padding-right:100px;

}

.signature span {
    display: inline-block;
    color: gray;

}

#name {
    font-family: "AcrossTheRoad", Garamond;
    font-size: 50px;
    padding-right: 10px;
    color: #55198b;

}

.greeting-button1, .greeting-button2 {
    display: flex;
    width: 100%;
}

.greeting-button1 a, .greeting-button2 a {
    display: inline-block;
    background-color: #55198b;
    border: 2px solid #55198b;
    color: #fff;
    font-weight: 700;
    
    width: max-content;
    padding: 13px 22px;
    margin-right: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    /* -webkit-transition: all .3s ease-in-out 0s; */
    /* transition: all .3s ease-in-out 0s; */
    /* transition-property: background-color; */
    /* transition-duration: 500ms; */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.greeting-button1 a:hover, .greeting-button2 a:hover {
    background-color: white;
    color: #55198b;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);    
}

.greeting-button1 a {
    padding-right: 65px;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}


/* ################# */

#skills {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
}

.skills-image, .skills-text {
    width: 47%;
}

.skills-image img {
    width: 100%;
}

.skills-languages {
    display: flex;
    margin-top: 30px;
}

.skills-languages svg {
    width: 100%;
}

.skill-language-item {
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
    margin-right: 20px;
}

.skills-languages p {
    display: inline-block;
    margin-top: 6px;
    font-weight: 900;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav li {
    border-bottom: 1px solid transparent;
    padding: 20px 10px;
    transition: all .2s ease-in-out;
}

nav li:hover {
    border-bottom: 1px solid #55198b;
}

/* ################### */

#projects {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
}

.projects-image, .projects-text {
    width: 47%;
}

.skills-image img {
    width: 90%;
}


/* ####################### */

#contact {
    display: flex;
    padding: 10% 0;
    justify-content: space-between;
}

.contact-image, .contact-text {
    width: 47%;
}

.contact-image img {
    width: 90%;
}
}